app/node_modules/

aws/01_core_infra/env/dev/.terraform/
aws/01_core_infra/env/dev/terraform.tfstate
aws/01_core_infra/env/dev/terraform.tfstate.backup

aws/01_core_infra/env/prd/.terraform/
aws/01_core_infra/env/prd/terraform.tfstate
aws/01_core_infra/env/prd/terraform.tfstate.backup

aws/02_observability/env/dev/.terraform/
aws/02_observability/env/dev/terraform.tfstate
aws/02_observability/env/dev/terraform.tfstate.backup

aws/02_observability/env/prd/.terraform/
aws/02_observability/env/prd/terraform.tfstate
aws/02_observability/env/prd/terraform.tfstate.backup

aws/03_landing_zone/env/dev/.terraform/
aws/03_landing_zone/env/dev/terraform.tfstate
aws/03_landing_zone/env/dev/terraform.tfstate.backup

aws/03_landing_zone/env/prd/.terraform/
aws/03_landing_zone/env/prd/terraform.tfstate
aws/03_landing_zone/env/prd/terraform.tfstate.backup

old/

spa.code-workspace